/* Common styles for both large and small screens */
.navbar {
  background-color: #ffffff;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 22px;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 17px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure navbar is on top */
}

.navbar-logo {
  color: #000000;
  font-size: 1.5rem;
  text-decoration: none;
  font: 400 1.5rem "Protest Riot", sans-serif;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0px !important;
}

.nav-item {
  list-style-type: none;
  margin-right: 28px;
  margin-top: 0;
}

.nav-links {
  color: #000000;
  text-decoration: none;
  font: 400 18px "Bebas Neue", sans-serif;
  position: relative;
}

.signup-button {
  background-color: rgb(9, 125, 227);
  color: #ffffff;
  font: 400 18px "Bebas Neue", sans-serif;
  text-decoration: none;
  padding: 10px;
  border-radius: 12px;
}

.signup-button:hover {
  background-color: rgb(0, 0, 0);
  color: #ffb9b9;
  transition: all 0.2s ease-in-out;
}

.dropdown-menu {
  display: none;
}

.toggleBar {
  display: none;
}

/* Show the fa-bars icon on small screens */
@media screen and (max-width: 760px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0px;
    padding: 80px 0 30px 0;
    margin: 0;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px;
    opacity: 1;
    position: absolute;
  }

  .toggleBar {
    display: inline-block;
    margin-left: 10px;
  }
  .nav-item {
    list-style-type: none;
    margin-right: 28px;
    margin-top: 28px;
  }
  .navbarItems {
    z-index: 1;
  }
}

.post-property {
  background-color: rgb(197 219 154);
  outline: none;
  text-decoration: none;
  color: black;
  font-size: larger;
  font-family: "Protest Riot";
  padding: 8px;
  border-radius: 19px;
}
